.customer-table {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  height: auto;
	
  .table-wrapper {
    flex-grow: 4;

    .table-row:not(:first-child) {
      cursor: pointer;
    }

    .table-cell {
      display: flex;
      justify-content: center;
    }
    
    .action-cell {
      color: #028FB9;
      text-decoration: underline;
      cursor: pointer;
      max-width: 60px;
    }
    .table-row:first-child {
      .action-cell {
        color: black;
        text-decoration: none;
        cursor: text;
      }
      .action-cell:hover {
        color: black;
      }
    }
  }
	
  .details-wrapper {
    flex-grow: 1;
  }
}
